body {
  background: rgb(8,70,75);
  background: linear-gradient(315deg, rgb(8,70,75) 0%, rgb(117,60,232) 50%, rgb(82,45,38) 100%);
}

h1 { 
  font-size:100px; 
  color: white; 
  padding: 20% 0 0 0; 
  text-align:center;
}

p {
  font-size:75px; 
  color: white; 
  text-align:center;
}
