
body {
  background: rgb(8,70,75);
  background: linear-gradient(321deg, rgba(8,70,75,1) 0%, rgba(117,60,232,1) 54%, rgba(82,45,38,1) 100%);
}


h1 { 
  font-family:"Lucida Console", Monaco, monospace;
  font-size:100px; 
  color: white; 
  padding: 10% 0 0 0; 
  text-align:center;
}

h2 { 
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:30px; 
  color: white; 
  padding: 0 0 0 0; 
  text-align:center;
}

h6 { 
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:10px; 
  color: white; 
  padding: 0 0 0 0; 
  text-align:center;
  vertical-align:bottom;
}

.footer { 
       position: fixed;     
       text-align: center;    
       bottom: 0px; 
       width: 100%;
}  

p {
  font-family:Georgia, serif;
  font-size:75px; 
  color: white; 
  text-align:center;
}
