* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #ffffff;
}

h2 {
  font-family: Verdana;
}

.blog-title{
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
}

h3 {
	font-family: Helvetica;
	font-size: 20px;
	margin: 5px
}

h5 {
	font-family: Helvetica;
	font-size: 16px;
	margin: 5px;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: left;
  background: rgb(255,255,255);
  background: linear-gradient(321deg, rgba(255,255,255,1) 15%, rgba(222,114,110,1) 49%, rgba(219,103,99,1) 100%, rgba(82,45,38,1) 100%);
}

.rightcolumn {   
  float: right;
  width: 37%;
  padding-left: 10px;
}

.midcolumn {   
  margin-left: auto; 
  margin-right: auto;
  width: 37%;
  padding-left: 10px;
}

.leftcolumn {
  float: left;
  width: 25%;
  padding-left: 0px;
}

.blogpost {
  margin: 0 auto;
  width: 50%;
  padding-left: 0px;
  text-align: justify;
  text-justify: inter-word;
}

img.right{
    max-width: 50%;
    max-height: 50%;
    padding: 10px;
    float: right;
    position: relative;
	top: -15px;
}

.card {
   background-color: #dbd9d9;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.cardblog {
   background-color: #ffffff;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.about-me {
   background-color: #dbd9d9;
   padding: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.footer {
  padding: 10px;
  text-align: center;
  background: #db6763;
  margin-top: 10px;
}

.footertransparent {
  padding: 10px;
  text-align: center;
  background: #ffffff;
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

